/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Architects Daughter', monospace;
    color: #795548;
    font-size: 1rem;
}
h1 {
    font-family: 'Special Elite', cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1;
    color: #5D4037;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display: inline-block;
}
header li a {
    border-radius: 4px;
    text-decoration: none;
    color: #795548;
    padding: 0 10px;
    background-color: #B2EBF2;
    transition: color .2s;
}
header li a:hover {
    color: #D7CCC8;
    transform: scale(.95);
}
header {
    text-align: center;
    background-color: #0097A7;
    background-size: cover;
    padding: 2.25rem 1.5rem 1.5rem 1.5rem;
    border-bottom: 1rem solid #FFEM3B;
}
header .logo {
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
}
footer {
    background-color: #B2EBF2;
    color: #795548;
    padding: 1.5rem;
}
footer p {
    margin-top: 0;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer li {
    display: inline-block;
}
footer li a {
    border-radius: 4px;
    text-decoration: none;
    color: #795548;
    background-color: #FFF9C4;
    padding: .5rem;
}
footer li a:hover {
    color:  #D7CCC8;
}
.logistics {
    background-color: #B2EBF2;
    padding: 1.5rem;
}
.logistics h1 {
    margin:  0;
}
.logistics h2 {
    margin: 0;
}
.logistics {
    color: #795548;
}
.logistics strong {
    color: #5D4037;
}
.logistics img {
    width: 100%;
    border: 1rem solid #fff;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 4px;
}
.hero {
    position: relative;
    background: url(../img/background.jpg);
    background-size: cover;
    text-align: right;
    height: 40vh;
}
.hero-content {
    position: absolute;
    bottom: 2.5rem;
    right: 1.75rem;
}
.hero h1 {
    font-size: 1.875rem;
    color:  #FFFFFF;
    font-family: 'Architects Daughter', monospace;
    text-shadow: 0 0 60px rgba(0, 0, 0, .6);
}
.hero a {
    border-radius: 4px;
    background-color: #FFF9C4;
    padding: .5rem 1rem;
    color: #795548;
    text-decoration: none;
    text-shadow: 0 0 20px rgba(0, 0, 0, .6);
    transition: background .4s;
}
.hero a:hover {
    background-color: #B2EBF2;
}
.service h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    background-color: #B2EBF2;
}
.service {
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 7px solid #795548;
}
.service h2 {
    margin-bottom: 0;
    font-size: 2rem;
    padding: .5rem;
    background-color: #0097A7;
    text-align: center;
}
.service p {
    text-align: left;
    background-color: #FFF9C4;
    margin-top: 0;
    padding: .5rem;
}
.service img {
    width: 100%;
    margin: 0;
}
.service a {
    color: #795548;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: #B2EBF2;
    border-radius: 4px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.service a:hover {
    background-color: #0097A7;
}
.breadcrumbs {
    padding: 1.5rem;
}
.breadcrumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.breadcrumbs li {
    display: inline-block;
    color: #00BCD4;
}
.breadcrumbs li a {
    color: #795548;
}
.main-content img,|
.side-content img {
    width: 100%;
}
.main-content {
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 7px solid #795548;
}
.main-content h1 {
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #0097A7;
    text-align: center;
}
.main-content p {
    background-color: #FFF9C4;
    text-align: left;
    margin: 1rem;
    padding: .5rem
}
.side-content h2 {
    background-color: #0097A7;
    text-align: left;
}
.side-content h3 {
    background-color: #B2EBF2;
    padding: .5rem;
    text-align: center;
}
@media screen and (min-width: 64em){
     .logo {
        float: left;
        width: 100%;
    }
    body {
        font-size: 1.25rem;
    }
    h1 {
        font-size: 1.875rem;
    }
    img {
    float: left;
    padding-right: 1rem;
}
@media screen and (min-width: 40em){
    header ul {
        float: right;
    }
    header li {
        line-height: 5rem;
    }
    header {
        overflow: hidden;
    }
}
 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


